* {
    margin:0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.a {
    text-decoration: none;
}

.header {
    background: rgba(0,0,0,0.82);
    z-index: 999 !important;
}

#header {
    background: url("../img/tf.png") no-repeat  center/cover;
    min-height:110vh;
    margin-bottom: 30px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: ani 2s alternate;
    position: fixed;
}
@keyframes ani {
    0% {
        transform: translateY(-500px);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: translateY(0);
    }}

.header-img {
    width: 207px;
    height: 51px;
    margin-right: 200px;
}
.header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h2 {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    /*margin-right: 50px;*/
    transition: .3s;
    margin-left: 11px;
}
header h2:hover {
    color: red;
    transform:scale(1.1);
}

.header-btn {
    width: 193px;
    height: 48px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: white;
    transition: .4s;
    margin-left: 20px;
}
.header-btn:hover {
    color: black;
    transform:scale(1.1);
    background: #FF001E;
}


.header-items div h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    color: #FFFFFF;
    padding-left: 100px;
    padding-top: 200px;
    animation: bl 2s alternate  ;
}
@keyframes bl {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: translateX(0);
    }}

.header-items div p {

    font-family: 'Poppins' ,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: honeydew;
    padding-left: 109px;
    padding-bottom: 50px;
}
.header-items button {
    width: 322px;
    height: 50px;
    left: 70px;
    top: 609px;
    border:none ;
    color: white;
    background: linear-gradient(0deg,rgba(0,0,0,0.59), rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    font-size: 15px;
    margin-left: 100px;
    margin-bottom: 20px;
    transition: .4s;
}

.header-items button:hover {
    background: #FF001E;
    transform:scale(1.1);
}

.about-modoal-block {
    width: 100%;
    height: 100%;
    background: rgba(42,42,42,0.77);
    backdrop-filter: blur(5px);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999!important;
}

.about-modoal-block-square {
    width: 500px;
    height: 440px;
    background: rgba(0,0,0,0.74);
    border: none;
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.62);
    border-radius: 30px;
    position: relative;
}

.about-modoal-block-square-close {
    color: rgba(50,60,16,0.85);
    position: absolute;
    right: 20px;
    top: 10px;
}

.about-modoal-block-square input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-top: 100px;
    width: 390px;
    height: 35px;
    background: rgba(255, 255, 255, 0.26);
    padding-left: 15px;
    border-radius: 15px;
    color: #FFFFFF;
}

.about-modoal {
    display: none;
}

.header-h3  {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    padding-right: 300px;
    color: #FFFFFF;
}
.header-desc{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-desc div img{
    padding: 10px 10px;
}
 .section-block {
    width: 280px;
    height: 170px;
    left: 410px;
    top: 792px;
    background: #222222;
    border-radius: 20px;
    margin-bottom: 50px;
}
.section-block img {
    padding-left: 100px;
    padding-top: 20px;
}


.section-block h1    {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 40px;
    padding-top: 10px;
}

.section-block h3 {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 85px;
    padding-top: 10px;
}
.section {
    display: flex;
    justify-content: space-between;
}

#work {
    padding-top: 40px;
    padding-bottom: 10px;
    background: #222222;
    margin-bottom: 90px;
}
.work-lo {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-size: 28px;
    color: #FF001E;
    margin-top: -10px;
    padding-bottom: 20px;
}
.block {
    width: 350px;
    height: 200px;
    position: relative;
    background: black;
    margin: 10px 0;
}
.auto-lo {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #FF001E;
    padding-bottom: 30px;
}

.block p {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
     position: absolute;
    bottom: 100px;
    padding-left: 120px;
}

.block img {
    position: absolute;
    z-index: 10;
    transition: .4s;
    width: 350px;
    height: 200px;
}
.block img:hover {
    opacity: .3;
}
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.auto-items {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FF001E;
    padding-bottom: 30px;
}
.square {
    width: 350px;
    height: 350px;
    box-shadow:0 3px 14px black ;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 20px 0;
}

.square-block {
    width: 350px;
    height: 100px;
    background: black;
    border-radius: 20px;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-top: 10px;
}
.gen {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fon {
    padding-top: 20px;
    padding-left: 20px;
}
 .items h1 {
     font-family: 'Open Sans',sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     color: #FF001E;
     padding-top: 25px;
     padding-left: 30px;
 }
 .items p {
     font-family: 'Poppins',sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     color: #000000;
     padding-top: 20px;
     padding-left: 30px;
     padding-bottom: 20px;
 }

.items-fo {
    display: flex;
    justify-content: space-around;
}
.items-fo h2 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: black;
    padding-right: 60px;
}

.items-fo h3 {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #FF001E;
}

.product-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0  ;
}

.btn button {
    font-size: 17px;
    width: 370px;
    height: 68px;
    right: 20px;
    top: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: white;
    transition: .4s;
}
.btn button:hover {
    background: red;
    transform: scale(1.1);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
 .it h1 {
     font-family: 'Poppins',sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 30px;
     color: red;
     padding-bottom: 40px;

 }

 .ortho-h1 {
     font-family: 'Poppins',sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 30px;
     color: #FF001E;
     padding-bottom: 30px;
 }

.ortho-general {
    width: 486px;
    height: 480px;
    background: #222222;
    border-radius: 20px;
    margin-bottom: 50px;

}

.ortho-block img {
    position: absolute;
    padding-top: 35px;
    padding-left: 35px;
}

.ortho-block h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #FF001E;
    padding: 20px 90px;
}

.ortho-block p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: aliceblue;
    padding: 4px 40px;
}

.ortho-block img {
    margin-top: -9px;
    margin-left: 6px;
}

.ortho-block h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 20px;
    padding: 15px 50px;
}

.ortho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ortho-general-lef {
    width: 755px;
    height: 485px;
    margin-left: 40px;
    margin-top: -40px    ;
    background: #222222;
    border-radius: 20px;
}

.ortho-general-lef-im {
    padding-left: 250px;
    margin-top: -25px;
}

.development-block {
    width: 680px;
    height: 456px;
    background: #222222;
    border-radius: 20px;
}

.development-block-items img {
    position: absolute;
    padding-top: 35px;
    padding-left: 35px;
}

.development-block-items h1  {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #FF001E;
    padding: 20px 230px;
}

.development-block-items p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: aliceblue;
    padding: 4px 40px
}

.development {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.testing {
    width: 500px;
    height: 456px;
    background: #222222;
    border-radius: 20px;
}

.testing-block img {
    position: absolute;
    padding-top: 35px;
    padding-left: 35px;
}

.testing-block h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #FF001E;
    padding: 20px 130px;
}

.testing-block p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: aliceblue;
    padding: 4px 40px
}

.testing-block img {
    margin-top: -9px;
    margin-left: 6px;
}

.testing-block h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 20px;
    padding: 15px 50px;
}

.escort {
    padding-bottom: 50px;
}

.escort-block {
    width: 1261px;
    height: 347px;
    background: #222222;
    border-radius: 20px;
}

.escort-block img  {
    position: absolute;
    padding-top: 35px;
    padding-left: 35px;
}

.escort-block h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #FF001E;
    padding: 20px 130px;
}

.escort-block p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: aliceblue;
    padding: 4px 40px
}


.escort-block-img img {
    margin-left: 6px;
    margin-top: -15px;
}

.escort-block-img h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 20px;
    padding: 15px 50px;
}

#studio {
    background: #222222;
    min-height: 50vh;
}

.studio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.studio div h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FF001E;
    padding-bottom: 40px;
    padding-top: 30px;
}

.studio p {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 35px;
}

#tech {
    background: #989898;
    min-height: 70vh;
}
.tech-items {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FF001E;
     padding-top: 50px;
}
.tech img {
    padding-top: 50px;
    margin-left: 15px;
}

input {
    display: none;
}

#frontend:checked ~ .bacend,
#frontend:checked ~ .ux,
#frontend:checked ~ .data {
    display: none;
}

#backend:checked ~ .frontend,
#backend:checked ~ .ux,
#backend:checked ~ .data {
    display: none;
}

#ui\/ux:checked ~ .frontend,
#ui\/ux:checked ~ .bacend,
#ui\/ux:checked ~ .data {
    display: none;
}

#database:checked ~ .frontend,
#database:checked ~ .bacend,
#database:checked ~ .ux {
    display: none;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans',sans-serif;

}
.label label {
    font-size: 15px;
    text-transform:uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.label {
    position: relative;
    margin:20px auto 0;
    width: 590px;
    height: 50px;
    background: #989890;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

.label .animation {
    position: absolute;
    height: 100%;
    top:0;
    z-index: 0;

    border-radius: 8px;
    transition: all .5s ease 0s;
}



.label label:nth-child(1) {
    width: 100px;
}

.label .start-home, label:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;

}

.label label:nth-child(2) {
    width: 110px;
}

.label label:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background:#66432f;
}

.label label:nth-child(3) {
    width: 100px;
}

.label label:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background: #AF2A2A;
}

.label label:nth-child(4) {
    width: 160px;
}

.label label:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background: #24918A;
}

.label  label:nth-child(5) {
    width: 120px;
}

.label label:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background: #4D2B6F;
}

.team-items {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FF001E;
    padding-top: 40px;
}

#team {
    background: #222222;
    min-height: 10vh;
    padding-bottom: 50px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 500px;
    margin-top: 50px;
}

.swiper-slide h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #000000;
    padding-left: 160px;
    padding-top: 15px;
}

.swiper-slide p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: rgba(195,195,195,0.6);
    padding-left: 190px;
    padding-bottom: 100px;
}

.leave h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FF001E;
    padding-bottom: 60px;
}

.leave p {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: -200px;
}

.leave {
    display: flex;
    justify-content: space-between;

}

.input {
    width: 642px;
    height: 400px;
    margin-top: 70px ;
    background: #9D0013;
    border-radius: 15px;
}

.input-block input {
    display: flex;
    margin-bottom: 40px;
    width: 230px;
    height: 35px;
    padding-left: 15px;
    border-radius: 15px;
    color: black;
    margin-left: 350px;
    margin-top: 30px;
}

.input-block-items input {
    display: flex;
    margin-bottom: 40px;
    width: 230px;
    height: 35px;
    padding-left: 15px;
    border-radius: 15px;
    color: black;
    margin-left: 40px;
    margin-top: -157px;
}

.input-block-items-of input {
    display: flex;
    margin-bottom: 40px;
    width: 230px;
    height: 35px;
    padding-left: 15px;
    border-radius: 15px;
    color: black;
    margin-left: 40px;
}

.input-block-items-of-tex input {
    display: flex;
    width: 87%;
    height: 80px;
    border-radius: 10px;
    margin-left: 40px ;
    margin-bottom: 15px;
    padding-left: 15px;
}

.input-block-items-of-tex-btn button {
    width: 557px;
    height: 40px;
    margin-left: 40px;
    background: #222222;
    border-radius: 10px;
    margin-bottom: 14px;
    color: #FFFFFF;
}

.input-block-items-of-tex-btn h2 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 43px;
}

.recent-items h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    padding-bottom: 20px;
}

.recent-items button {
    width: 294px;
    height: 59px;
    background: #FF001E;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 25px;
    transition: .4s;
}

.recent-items button:hover {
    transform: scale(1.1);
    background:black ;
    color: red;
}

.recent-items p {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    padding-bottom: 30px;
}

.recent-items-img {
    display: flex;
    align-items: center;
}

.recent-items-img h2 {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    padding-left: 15px;
    padding-bottom: 30px;
}

.recent-items-img img {
    padding-bottom: 30px;
}

.recent-items-img-block h3 {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    padding-bottom: 30px;
}

.recent-items-img-block p {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    padding-bottom: 28px;
}

.recent-items-img-block-general h4 {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    padding-bottom: 30px;
    padding-top: 130px ;
}

.recent-items-img-block-general p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    padding-bottom: 28px;
}

.recent-items-img-block-general-see h5 {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    padding-bottom: 30px;
}

.recent-items-img-block-general-see p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    padding-bottom: 28px;
}

.recent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}